*,*::before,*::after {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100vw ;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    position: relative;
    padding-bottom:0.5em ;
    background-color:purple;
}

