:root{
    --ff-heading: 'Allan', cursive;
    --ff-body: 'Lato', sans-serif;
    --clr-red: #EF4444;
    --clr-blue: #60A5FA;
    --clr-green: #10B981;
    --clr-pink: #BE185D ;
    --clr-yellow: #FBBF24 ;
    --clr-dark1: #111827;  
    --clr-dark2: #1F2937;  
    --clr-light1: #E5E7EB ; 
}

*,*::before,*::after {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100vw ;
    overflow-x: hidden;
    display: flex;
    font-family: var(--ff-body) ;
    flex-direction: column;
    background-color: var(--clr-dark1);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-heading);
}

button{
    outline: none ;
}
